html, body{
    min-height: 100vh;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Cabin;
    position: relative
}
.telms_wrapper{
    min-height: 100%;
    height: auto !important;
}

#my_content{
    min-height: 100%;
}

main {
    margin-bottom: 10em;
}

header{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #0b2a41;
    color: #ffffff;
    font-size: 12pt;
}

footer{
    border-bottom: solid #000000;
    background-color: #0b2a41;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10em;
}

.footer-info{
    color: #ffffff;

}

.footer-info-title{
    color:#ffffff;
    font-size: 14pt;
    padding-bottom: 4px;
}

.footer-logo{
    max-width: 100%;
    height: auto;
}

.message-btn{
    padding-top: 5px;
    padding-bottom: 10px;
}

label{
    display: block;
}

@media only screen and (max-width: 867px) {

    footer {
      height: 20em;
    }

    main {
        margin-bottom: 20em;
    }

}